.current-weather-container {
  width: 100%;
}

.current-weather-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: var(--lalala);
  margin: 3rem;

  font-family: "Julius Sans One", serif;
  font-style: normal;
  
  scroll-snap-align: start;
  scroll-margin-top: 4rem;
  scroll-snap-stop: always;
}

.outer-box-shadow {
  border-radius: 4rem;
  box-shadow: 0ch 0ch 2ch 0ch rgb(177, 246, 255);
  background-color: ghostwhite;
}

.inner-box-shadow {
  box-shadow: inset 0ch 0ch 2ch 0ch var(--lalala);
  border-radius: 2rem;
  width: 100%;
}

.current-weather-content {
  padding: 1rem 0;
}

.current-temp {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.current-temp p {
  display: flex;
  flex-direction: row;
  font-size: 4rem;
  font-weight: 600;
}

.condition-text {
  font-size: 1.75rem;
  padding-bottom: 1rem;
}

.current-temp img {
  width: 4rem;
  border-radius: 30%;
}

.condition-text {
  text-align: center;
}

.wind-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.75rem;
}

.wind-details p span {
  margin: 0 0.5rem;
}

.wind-details p:nth-child(2) {
  margin-top: 0.5rem;
}

.updated-at {
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: center;
}

.updated-at span {
 margin-left: .25rem;
}