.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}