.header {
  height: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.75rem; 
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 1rem;
}

.redirect-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  height: 11rem;
  border-radius: 8%;
  font-size: 3rem;
  
  transition: all .75s;
}

.redirect-overlay:hover {
  border: 0.5rem solid var(--iced-blue);
  background-color: rgb(216 187 92 / 70%);
  cursor: pointer;
}

.header img {
  width: 98%;
}

.year {
  display: flex;
  gap: 2.25rem;
  color: var(--banana-candy-yellow);
  font-size: 4rem;
  font-weight: 600;
}