.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 12rem;
  padding: 0.75rem;
  margin-bottom: 1rem;
  font-style: normal;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.show-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.hide-modal {
  display: none;
}

.close-modal-btn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--black);
  color: var(--banana-candy-yellow);
  padding: 0.5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
}

.redirect-btn {
  background-color: var(--banana-candy-yellow);
  color: var(--black);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.banner-img {
  width: 100%;
}

.year {
  flex-grow: 1;
  display: flex;
  gap: 2.25rem;
  color: var(--banana-candy-yellow);
  font-size: 4rem;
  font-weight: 600;
}