.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
}

.loading p {
  font-family: 'Roboto_Regular', sans-serif;
  font-size: clamp(1.5rem, 4rem, 8rem);
  font-weight: 600;
  margin: 0;
  color: var(--iced-blue);
}