.forecast-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forecast-container p {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;

  overflow-y: scroll;
  scrollbar-width: none;

}